In [2]:
import pandas as pd

In [3]:
data = '..\data\db.csv'
pd.read_csv(data)

  Home Owner Marital Status  Annual Income Default Borrower
0          Y         Single            125                N
1          N        Married            100                N
2          N         Single             70                N
3          Y        Married            120                N
4          N       Divorced             95                Y
5          N        Married             60                N
6          Y       Divorced            220                N
7          N         Single             85                Y
8          N        Married             75                N
9          N         Single             90                Y

### Counts for Home Owner

In [4]:
home_owner = {'DB=Y':[0, 3], 'DB=N':[3, 4], 'Home Owner':['Y', 'N']}
pd.DataFrame(home_owner).set_index('Home Owner')

            DB=Y  DB=N
Home Owner
Y              0     3
N              3     4

### Counts for Marital Status

In [5]:
marital_status = {'DB=Y':[2, 0, 1], 'DB=N':[2, 4, 1], 'Marital Status':['Single', 'Married', 'Divorced']}
pd.DataFrame(marital_status).set_index('Marital Status')

                DB=Y  DB=N
Marital Status
Single             2     2
Married            0     4
Divorced           1     1

### Mean and Std Dev for Annual Income
Mean for DB=Y: $$\mu=\frac{95 + 85 + 90}{3} = 90$$
Std Dev for DB=Y: $$\sigma=\sqrt{\frac{(x_i-90)^2}{3}} = 5$$

Mean for DB=N: $$\mu=\frac{125 + 100 + 70 + 120 + 60 + 220 + 75}{7} = 110$$
Std Dev for DB=N: $$\sigma=\sqrt{\frac{(x_i-110)^2}{7}} = 54.5$$

### Probabilities for Annual Income = 90
P(Income=90|DB=Yes) = $$\frac{1}{5\sqrt{2\pi}} e^\frac{-(90-90)}{2 \times 5^2} = 0.08$$
P(Income=90|DB=No) = $$\frac{1}{54.5\sqrt{2\pi}} e^\frac{-(90-110)}{2 \times 54.5^2} = 0.007$$

# Classify the record: X=(Home Owner=N, Marital Status=Married, Income=90)

### Without handling zero conditional probabilities

#### P(DB=Y|X) = P(Home Owner=No|Yes) P(Marital Status=Married|Yes) P(Annual Income=90|Yes) P(Yes)
#### P(DB=Y|X) = $$ \frac{3}{3} \times \frac{0}{3} \times 0.08 \times \frac{3}{10} = 0$$

#### P(DB=Y|X) = P(Home Owner=No|No) P(Marital Status=Married|No) P(Annual Income=90|No) P(No)
#### P(DB=N|X) = $$ \frac{4}{7} \times \frac{4}{7} \times 0.007 \times \frac{7}{10} = 0.0016$$

### Since P(DB=N|X) > P(DB=Y|X), the record X is classified as DB=N

# Classify the record: X = (Home Owner = N, Marital Status = Married, Income = 90)

### By using Laplace estimate to calculate conditional probabilities

#### P(DB=Y|X) = P(Home Owner=No|Yes) P(Marital Status=Married|Yes) P(Annual Income=90|Yes) P(Yes)
#### P(DB=Y|X) = $$ \frac{3+1}{3+1} \times \frac{0+1}{3+1} \times 0.08 \times \frac{3+1}{10+1} = 0.063$$

#### P(DB=Y|X) = P(Home Owner=No|No) P(Marital Status=Married|No) P(Annual Income=90|No) P(No)
#### P(DB=N|X) = $$ \frac{4+1}{7+1} \times \frac{4+1}{7+1} \times 0.007 \times \frac{7+1}{10+1} = 0.0016$$

### Since P(DB=Y|X) > P(DB=N|X), the record X is classified as DB=Y