## Calculate the Silhouette Coefficient for each of the three clusters and the whole clustering shown below

![sil1](img/sil1.png)

**Steps:**

1. Calculate distance matrix
2. To calculate sil coeff of a data point x
    - Calculate a, average distance to points in its own cluster
    - Calculate b, average distance to points in the nearest cluster
    - Sil coeff (x): (b - a) / max(a, b) 
4. Repeat for all points

**For a visual understanding of Silhouette Coefficient for a data point x, see the image below**

a = average of the blue lines (distances to the points in the same cluster)

b = average of the green lines (distances to the points in the nearest cluster)

Silhouette Coefficient(x) = Ratio of a to b. The higher the value of a relative to b, the better the sil coef.

![sil1](img/sil2.png)

In [33]:
from scipy.spatial.distance import pdist, squareform
from sklearn.metrics import pairwise_distances
import numpy as np
import pandas as pd
d = {'x': [1, 2, 2, 3, 4, 4, 5, 6, 6, 3, 4, 4, 5, 5, 6],
     'y': [4, 4, 5, 3, 4, 5, 5, 4, 6, 4, 1, 3, 1, 2, 1],
     'cluster': ['c1', 'c1', 'c1', 'c2', 'c2', 'c2', 'c2', 'c2', 'c2', 'c3', 'c3', 'c3', 'c3', 'c3', 'c3']}
df = pd.DataFrame(d)
df

    x  y cluster
0   1  4      c1
1   2  4      c1
2   2  5      c1
3   3  3      c2
4   4  4      c2
5   4  5      c2
6   5  5      c2
7   6  4      c2
8   6  6      c2
9   3  4      c3
10  4  1      c3
11  4  3      c3
12  5  1      c3
13  5  2      c3
14  6  1      c3

### Step 1. Calculate the distance matrix

In [41]:
dist = pdist(df[['x', 'y']], metric = 'euclidean')
dist_matrix = pd.DataFrame(squareform(dist))
dist_matrix

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.000000,1.000000,1.414214,2.236068,3.000000,3.162278,4.123106,5.000000,5.385165,2.000000,4.242641,3.162278,5.000000,4.472136,5.830952
1,1.000000,0.000000,1.000000,1.414214,2.000000,2.236068,3.162278,4.000000,4.472136,1.000000,3.605551,2.236068,4.242641,3.605551,5.000000
2,1.414214,1.000000,0.000000,2.236068,2.236068,2.000000,3.000000,4.123106,4.123106,1.414214,4.472136,2.828427,5.000000,4.242641,5.656854
3,2.236068,1.414214,2.236068,0.000000,1.414214,2.236068,2.828427,3.162278,4.242641,1.000000,2.236068,1.000000,2.828427,2.236068,3.605551
4,3.000000,2.000000,2.236068,1.414214,0.000000,1.000000,1.414214,2.000000,2.828427,1.000000,3.000000,1.000000,3.162278,2.236068,3.605551
5,3.162278,2.236068,2.000000,2.236068,1.000000,0.000000,1.000000,2.236068,2.236068,1.414214,4.000000,2.000000,4.123106,3.162278,4.472136
6,4.123106,3.162278,3.000000,2.828427,1.414214,1.000000,0.000000,1.414214,1.414214,2.236068,4.123106,2.236068,4.000000,3.000000,4.123106
7,5.000000,4.000000,4.123106,3.162278,2.000000,2.236068,1.414214,0.000000,2.000000,3.000000,3.605551,2.236068,3.162278,2.236068,3.000000
8,5.385165,4.472136,4.123106,4.242641,2.828427,2.236068,1.414214,2.000000,0.000000,3.605551,5.385165,3.605551,5.099020,4.123106,5.000000
9,2.000000,1.000000,1.414214,1.000000,1.000000,1.414214,2.236068,3.000000,3.605551,0.000000,3.162278,1.414214,3.605551,2.828427,4.242641
10,4.242641,3.605551,4.472136,2.236068,3.000000,4.000000,4.123106,3.605551,5.385165,3.162278,0.000000,2.000000,1.000000,1.414214,2.000000
11,3.162278,2.236068,2.828427,1.000000,1.000000,2.000000,2.236068,2.236068,3.605551,1.414214,2.000000,0.000000,2.236068,1.414214,2.828427
12,5.000000,4.242641,5.000000,2.828427,3.162278,4.123106,4.000000,3.162278,5.099020,3.605551,1.000000,2.236068,0.000000,1.000000,1.000000
13,4.472136,3.605551,4.242641,2.236068,2.236068,3.162278,3.000000,2.236068,4.123106,2.828427,1.414214,1.414214,1.000000,0.000000,1.414214
14,5.830952,5.000000,5.656854,3.605551,3.605551,4.472136,4.123106,3.000000,5.000000,4.242641,2.000000,2.828427,1.000000,1.414214,0.000000

### Step 2 a. Calculate a, average distance to points in its own cluster

Example: 

For the point at (1, 4), get the distances to the other points in the cluster from the distance matrix. **The distance to (2, 4) is 1, and the distance to (2, 5) is 1.41. Average = (1 + 1.412)/2 = 1.207.** Do this for all points.

In [42]:
sil_dict = {'a':[1.207, 1, 1.207, 
                 2.777, 1.731, 1.742, 1.614, 2.163, 2.544, 
                 3.051, 1.915, 1.979, 1.768, 1.614, 2.297]}
sil = pd.DataFrame(sil_dict)
sil = pd.concat([df, sil], axis=1)
sil

    x  y cluster      a
0   1  4      c1  1.207
1   2  4      c1  1.000
2   2  5      c1  1.207
3   3  3      c2  2.777
4   4  4      c2  1.731
5   4  5      c2  1.742
6   5  5      c2  1.614
7   6  4      c2  2.163
8   6  6      c2  2.544
9   3  4      c3  3.051
10  4  1      c3  1.915
11  4  3      c3  1.979
12  5  1      c3  1.768
13  5  2      c3  1.614
14  6  1      c3  2.297

### Step 2 b. Calculate b, average distance to points in the nearest cluster

To find the average distance from x to points in the nearest cluster, first calculate distances to points in the crosses (x) cluster, then the triangle cluster, then take the minimum value

Example: 

For the point at (1, 4), get the distances to the points in the cross cluster. 

The distances are 2.236068, 3.000000, 3.162278, 4.123106, 5.000000, 5.385165. Average = 3.818. 

Next, get the distances to the points in the triangle cluster. The distances are 2.000000, 4.242641, 3.162278, 5.000000, 4.472136, 5.830952. Average = 4.118. 

So the nearest cluster is the cross cluster, so we set b = average distance to points in the cross cluster (3.818).

In [43]:
sil['dist_to_cross'] = pd.Series([3.818, 2.881, 2.953, 1.962, 2.412, 2.466, 3.428, 4.374, 4.66, 1.47, 4.11, 2.74, 4.74, 4.107, 5.496])
sil['dist_to_triangle'] = pd.Series([4.118, 3.281, 3.936, 2.15, 2.33, 3.195, 3.286, 2.873, 4.469, 2.043, 3.725, 2.013, 3.729, 2.832, 3.968])

sil['b'] = sil.apply(lambda x : np.min([x.dist_to_cross, x.dist_to_triangle]), axis=1)
sil

    x  y cluster      a  dist_to_cross  dist_to_triangle      b
0   1  4      c1  1.207          3.818             4.118  3.818
1   2  4      c1  1.000          2.881             3.281  2.881
2   2  5      c1  1.207          2.953             3.936  2.953
3   3  3      c2  2.777          1.962             2.150  1.962
4   4  4      c2  1.731          2.412             2.330  2.330
5   4  5      c2  1.742          2.466             3.195  2.466
6   5  5      c2  1.614          3.428             3.286  3.286
7   6  4      c2  2.163          4.374             2.873  2.873
8   6  6      c2  2.544          4.660             4.469  4.469
9   3  4      c3  3.051          1.470             2.043  1.470
10  4  1      c3  1.915          4.110             3.725  3.725
11  4  3      c3  1.979          2.740             2.013  2.013
12  5  1      c3  1.768          4.740             3.729  3.729
13  5  2      c3  1.614          4.107             2.832  2.832
14  6  1      c3  2.297          5.496             3.968  3.968

### Finally, use the formula to get the silhouette coefficient for each point

In [44]:
sil['sil'] = sil.apply(lambda x : (x.b - x.a) / np.max([x.a, x.b]), axis=1)
sil

    x  y cluster      a  dist_to_cross  dist_to_triangle      b       sil
0   1  4      c1  1.207          3.818             4.118  3.818  0.683866
1   2  4      c1  1.000          2.881             3.281  2.881  0.652898
2   2  5      c1  1.207          2.953             3.936  2.953  0.591263
3   3  3      c2  2.777          1.962             2.150  1.962 -0.293482
4   4  4      c2  1.731          2.412             2.330  2.330  0.257082
5   4  5      c2  1.742          2.466             3.195  2.466  0.293593
6   5  5      c2  1.614          3.428             3.286  3.286  0.508825
7   6  4      c2  2.163          4.374             2.873  2.873  0.247128
8   6  6      c2  2.544          4.660             4.469  4.469  0.430745
9   3  4      c3  3.051          1.470             2.043  1.470 -0.518191
10  4  1      c3  1.915          4.110             3.725  3.725  0.485906
11  4  3      c3  1.979          2.740             2.013  2.013  0.016890
12  5  1      c3  1.768          4.740             3.729  3.729  0.525878
13  5  2      c3  1.614          4.107             2.832  2.832  0.430085
14  6  1      c3  2.297          5.496             3.968  3.968  0.421119

### Silhouette Coefficient of a cluster = Average silhouette coefficient of the points in the cluster

Example: 

For the circle cluster, the sil coeffs of the points are 0.684, 0.653, 0.591. Average = 0.643

In [45]:
cluster_sils = pd.DataFrame(sil.groupby('cluster').sil.agg('mean'))
cluster_sils

              sil
cluster
c1       0.642676
c2       0.240649
c3       0.226948

### Silhouette Coefficient of the whole clustering = Average silhouette coefficient of the points in the data

In [46]:
print('Silhouette Coefficient:', np.round(sil['sil'].mean(), 3))

Silhouette Coefficient: 0.316